version: '3.8'

services:
  backend: 
    build: 
      context: . 
      dockerfile: Dockerfile.backend
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - FRONTEND_URL=http://localhost:80
      - NODE_ENV=production
    networks:
      - weleeconsole

  frontend:
    build: 
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - weleeconsole

networks:
  weleeconsole:
    driver:  bridge